{% extends 'menu/base.html' %}

{% block page_title %}{{ menu.date }}{% endblock %}

{% block body_title %}{{ menu.date }}{% endblock %}



{% block content %}
<a href="{% url 'menu:menu_daily' pk=menu.pk %}">{% url 'menu:menu_daily' pk=menu.pk %}</a>
<button>schedule reminder</button>

  <h2>Meals</h2>

  {% if menu.meals.all %}

    <table>
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in menu.meals.all %}
          <tr>
            <td>{{ meal.content }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}

    <p>This menu has no meals.</p>

  {% endif %}

  <p>
    <a href="{% url 'menu:meal_update' pk=menu.pk %}">
      {% if menu.meals.all %}
        Edit these meals
      {% else %}
        Add some meals
      {% endif %}
    </a>
    |
    <a href="{% url 'menu:menu_list' %}">All menus</a>
    |
    
  </p>
  <p>
  {% for meal in menu.meals.all %}

          <h3>{{meal}}</h3>
          <ul>
          {% for choice in meal.choice_set.all%}
          
            <li>{{choice.user}}, {{choice.note}}</li>

          {%endfor%}
          </ul>
          

  {% endfor %}
         
  </p>



{% endblock content %}
